<div class="task-board flex flex-column">
	<div class="task-board__title">
		<h2>Tasks</h2>
	</div>

	<div class="flex flex-middle flex-space-between">
		<app-filter [users]="users" (search)="onSearch($event)"></app-filter>
		<button mat-raised-button color="primary" aria-label="Add new task" (click)="addNewTask()" id="id-button-add">
			<mat-icon>add</mat-icon>
			Add new task
		</button>
	</div>

	<div class="task-board__content flex">
		<div class="task-board__content__item flex flex-column">
			<div class="task-board__content__item__status">TODO</div>
			<app-task-item [tasks]="taskWithStatus?.todo" (openDetail)="updateTask($event)"></app-task-item>
		</div>
		<div class="task-board__content__item">
			<div class="task-board__content__item__status">COMPLETED</div>
			<app-task-item [tasks]="taskWithStatus?.completed" (openDetail)="updateTask($event)"></app-task-item>
		</div>
	</div>
</div>
