.task-board {
    height: calc(100vh - 100px);

    &__content {
        margin-top: 20px;
        flex-grow: 1;
        padding-bottom: 40px;
        &__item {
            width: calc(25% - 8px);
            min-width: 200px;
            background-color: #F4F5F7;
            margin-right: 8px;

            &__status {
                padding: 15px;
                text-transform: uppercase;
                color: #939393;
            }
        }
    }
}